body {
	font-family: 'Roboto', sans-serif;
	background-color: #dcddde;
	margin: 0;
}

a {
	transition: background-color 0.25s;
	cursor: pointer;
	padding: 5px;
	border-radius: 15px;
	text-decoration: none;
}

/* top bar */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	padding: 5px 0;
}

.logo {
	margin: 5px 15px 0;
	font-family: Castoro Titling;
	text-decoration: none;
	text-decoration-color: black;
}

nav {
	margin: 0 25px 10px;
	display: flex;
	align-items: center;
	height: 100%;
}

#menu-checkbox {
	display: none;
}

header {
	position: relative;
}

.hamburger-icon {
	display: none;
}

/*home*/
main {
	margin: 0 35px;
}

.top-image {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	object-fit: cover;
	overflow: hidden;
	width: 100%;
	height: 80%;
}

.kids {
	border-radius: 10px;
	background-color: #a2d2ff;
}

.kids-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1em;
}

.kids-image {
	border-radius: 40px;
	width: 50%;
}

.teachers {
	border-radius: 10px;
	background-color: #ffc8dd;
}

.teachers-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1em;
}

.teachers-image {
	border-radius: 40px;
	width: 50%;
}

.reserchers-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1em;
}

.reserchers-image {
	border-radius: 40px;
	width: 50%;
}

.reserchers {
	border-radius: 10px;
	background-color: #cdb4db;
}

.visit-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.visit {
	border-radius: 10px;
	background-color: #fdffb6;
}

/*visit*/

.visit-content-2 {
	display: flex;
	flex-direction: column;
	align-items: right;
	padding: 1em;
}

/*exhibition*/

.cosmology {
	background-color: #a2d2ff;
	border-radius: 10px;
}

.cosmology-content {
	display: flex;
	flex-direction: column;
	align-items: right;
	padding: 1em;
}

.evolution {
	background-color: #ffc8dd;
	border-radius: 10px;
}

.evolution-content {
	display: flex;
	flex-direction: column;
	align-items: right;
	padding: 1em;
}

.biology {
	background-color: #cdb4db;
	border-radius: 10px;
}

.biology-content {
	display: flex;
	flex-direction: column;
	align-items: right;
	padding: 1em;
}

.robotics {
	background-color: #fdffb6;
	border-radius: 10px;
}

.robotics-content {
	display: flex;
	flex-direction: column;
	align-items: right;
	padding: 1em;
}

/*special events*/

.night {
	background-color: #a2d2ff;
	border-radius: 10px;
}

.night-content {
	display: flex;
	flex-direction: column;
	align-items: right;
	padding: 1em;
}

.visiting {
	background-color: #ffc8dd;
	border-radius: 10px;
}

.visiting-content {
	display: flex;
	flex-direction: column;
	align-items: right;
	padding: 1em;
}

.energetica {
	background-color: #cdb4db;
	border-radius: 10px;
}

.energetica-content {
	display: flex;
	flex-direction: column;
	align-items: right;
	padding: 1em;
}

/*footer*/

.footer {
	background-color: #afafaf;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer > * {
	flex: 1;
}

.csm {
	font-family: Castoro Titling;
}

@media (min-width: 600px) {
	nav a {
		display: inline-block;
	}
	.hamburger-icon {
		display: none;
	}
}

@media (max-width: 900px) {
	.hamburger-icon {
		display: flex;
		margin-right: 50px;
	}

	nav {
		display: none;
	}

	.kids-content {
		flex-direction: column;
	}

	.teachers-content {
		flex-direction: column;
	}

	.reserchers-content {
		flex-direction: column;
	}

	.visit-content {
		flex-direction: column;
	}

	#menu-checkbox:checked ~ nav {
		display: flex;
		position: fixed;
		width: 100vw;
		height: 250px;
		top: 112px;
		z-index: 1000;
		background-color: #dcddde;
		margin: 0;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
}

@media (max-width: 600px) {
	.top-image {
		display: none;
	}
}
